@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class=".col-md-">
                <h1>
                    Welcome to my Blog Page!
                </h1>
            </div>
            <div action=".col-sm-">
                <h2>
                    A place to keep track of all things happening!
                </h2>
            </div>
        </div>
    </div>
</div>
